@font-face {
    font-family: GilroyExtraBold;
    src: url(../fonts/Gilroy-ExtraBold.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: GilroyExtraBold;
    user-select: none;
}

.logo {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
}


.ball {
    width: 270px;
    height: 270px;
    display: inline-block;
    border-radius: 270px;
    box-shadow: #0000002b 0px -23px 30px 0 inset, #00000026 0px -36px 30px 0px inset, #0000001a 0px -79px 40px 0px inset, #0000000f 0px 2px 1px inset, #00000017 0px 4px 2px, #00000017 0px 8px 4px, #00000017 0px 16px 8px, #00000017 0px 32px 16px inset;
}

.blueBall{ background-color: #008bf2;}
.greenBall{ background-color: #37fb63;}
.redBall{ background-color: #f21757;}


.textLogo {
    font-size: 180px;
    color: #545454;
    letter-spacing: 2px;
    text-align: center;
}

p{ margin: 0;}


@media screen and (min-width:500) {
    .balls{
        margin-top: 50%;
    }
    .ball{
        height: 50%;
        width: 50%;
        border-radius: 50%;
    }
    .textLogo{
        font-size: 50%;
    }
}